{% extends 'base.html'%}
{% load static %}

{% block title %} Profile of {{ page_user }} {% endblock %}

{% block content %}

<h1 class="my-5">User: <b>{{ page_user }}</b></h1>

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-2">
    {% if page_user.profile_pic %}
      <img src="{{ page_user.profile_pic.url }}" 
      width="200" heigth="150" class="rounded-circle border border-2">
    {% else %}
      <img src="{% static 'blog/images/default_profile_pic2.png' %}" 
      width="200" heigth="150" >
    {% endif %}
    </div>
    <div class="col-md-5 my-4">
      <div class="card-body">
        <h4 class="card-title"><b>About {{ page_user.user.username }}</b></h4>
        <p class="card-text"><small class="text-muted">
        {% if page_user.website_url %}
          <a href="https://{{ page_user.website_url }}/">Website</a> 
        {% endif %}
        {% if page_user.facebook_url %}
          | <a href="https://{{ page_user.facebook_url }}/">Facebook</a>
        {% endif %}
        {% if page_user.twitter_url %}
          | <a href="https://{{ page_user.twitter_url }}/">Twitter</a>
        {% endif%}
        {% if page_user.instagram_url %}
          | <a href="https://{{ page_user.instagram_url }}/">Instagram</a>
        {% endif %}
        </small></p>
        <p class="card-text">{{ page_user.bio }}</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}